<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Courier Service</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">

</head>

<body style="background-size: cover; background-image: url('/img/1.jpg')">
<!--<body>-->

<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower" style="color: #4e555b">Courier Service</span>
</h1>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Courier Service</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/adminCreateNewUser">Create new user</a>
                </li>

                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/adminUserList">User list</a>
                </li>

                <li class="nav-item  px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/adminAssignCourier">Assign courier</a>
                </li>

                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/adminCourierStatistics">Courier statistics</a>
                </li>

                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="page-section" style="margin-left: 35%; margin-right: 35%">
    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Register new user</span>
        </h2>

        <form action="/adminCreateNewUser" method="post">
            <div class="form-group has-default">
                <div class="input-group">
                    <input name="firstName" class="form-control" placeholder="First name..." required
                           type="text" minlength="3" maxlength="30">
                </div>
            </div>

            <div class="form-group has-default">
                <div class="input-group">
                    <input name="lastName" type="text" class="form-control"
                           placeholder="Last name..." required minlength="3" maxlength="30">
                </div>
            </div>

            <div class="form-group has-default">
                <div class="input-group">
                    <select name="role" class="form-control">
                        <option value="courier">Courier</option>
                        <option value="forwarder">Forwarder</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
            </div>

            <div th:if="${message} != null" th:class="'my-4 alert alert-' + ${messageType}"
                 th:text="${message}" role="alert">
            </div>

            <div class="intro-button mx-auto">
                <button class="btn btn-primary btn-xl" type="submit">Register</button>
            </div>
        </form>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
